preset: {{ config.preset }}
locale: {{ config.locale }}
dev_mode: {{ config.dev_mode }}
default_workflow: {{ config.default_workflow }}
caching: {{ config.caching }}
project:
  domains: [{{ config.project.domains | join(", ") }}]
spec:
  dir: {{ config.spec.dir }}
workflows:
{% for name, stages in config.workflows.items() %}
  {{ name }}:
{% for s in stages %}    - {{ s }}
{% endfor %}{% endfor %}
reviewers:
  consensus: {{ config.reviewers.consensus }}
  verbosity: {{ config.reviewers.verbosity }}
  auto_fix: {{ config.reviewers.auto_fix | lower }}
  grade_threshold: {{ config.reviewers.grade_threshold }}
  max_review_rounds: {{ config.reviewers.max_review_rounds }}
  installed:
{% for r in config.reviewers.installed %}    - {{ r }}
{% endfor %}  enabled:
{% for r in config.reviewers.enabled %}    - {{ r }}
{% endfor %}
skills:
  installed:
{% for s in skills.installed %}    - {{ s }}
{% endfor %}  enabled:
{% for s in skills.enabled %}    - {{ s }}
{% endfor %}
worktree:
  scope: [execute, plan]
  branch_prefix: hm-
security:
  on_finding:
    high: block
    medium: log
  gates:
    spec_gate: block
